* {color:darkslategrey}

body{
    display: flex;
    background-color:rgba(124, 123, 123, .05);
    text-align:center;
  }
#subBody{
    padding: 80px;
    margin:auto;
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, .3);
    width: 80vw;
    border-radius: 1vw;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    background-color:rgba(255, 255, 255, .8);
}
#subBody > * {opacity: 85%;}
#subBody > input, button {margin: 20px 10px 10px 0;} 

input, button {
    background-color:rgba(0, 0, 0, .2);
    border: none;
    height: 8vh;
    width: 30vw;
    color:#303050;
    text-align: center;
    font-size: 120%;
}

h1 {font-family: Impact, Charcoal, sans-serif;}